<h1>Show Feedback</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @feedback.name %>
  </li>

  <li>
    <strong>Message:</strong>
    <%= @feedback.message %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @feedback.email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.feedback_path(@conn, :edit, @feedback) %></span> |
<span><%= link "Back", to: Routes.feedback_path(@conn, :index) %></span>
