      <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800  p-4 shadow text-2xl text-white">

<h1 class = "headings font-bold ml-6" style = "color:white;">Edit user</h1>
</div>
<%= render "form.html", Map.put(assigns, :action, Routes.client_path(@conn, :update, @user)) %>
