<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Scadvert", suffix: " · Phoenix Framework" %>
     
   <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/css/main.css")}/>
		<noscript><link rel="stylesheet" href="/assets/css1/noscript.css" /></noscript>

  </head>
  


	<body class="is-preload " onLoad = "decode()">



         

                  <%= @inner_content %>

<script>
			
function decode() { var element =document.getElementById("decoded_html").dataset.desc;
  var description = document.getElementById("decoded_html");
  description.innerHTML = element;
} ;
			</script>
      <script>
  document.addEventListener("DOMContentLoaded", function () {
    const emailInput = document.querySelector(".validate-email");
    const submitButton = document.querySelector("#submitbutton");
    const errorMessage = document.querySelector("#email-error-message");

    emailInput.addEventListener("input", function () {
      const emailValue = emailInput.value;

      if (!emailValue.includes("@") || emailValue.includes(" ") || emailValue.length > 160) {
        if (!emailValue.includes("@")) {
          errorMessage.textContent = "Email must contain '@' sign.";
        } else if (emailValue.includes(" ")) {
          errorMessage.textContent = "Email cannot contain spaces.";
        } else if (emailValue.length > 160) {
          errorMessage.textContent = "Email must be 160 characters or less.";
        }
        submitButton.disabled = true;
      } else {
        errorMessage.textContent = "";
        submitButton.disabled = false;
      }
    });
  });
</script>


    <script type="text/javascript" src={Routes.static_path(@conn, "/assets/js/jquery.min.js") }></script>
    <script type="text/javascript" src={Routes.static_path(@conn, "/assets/js/browser.min.js") }></script>
       <script type="text/javascript" src={Routes.static_path(@conn, "/assets/js/breakpoints.min.js") }></script>
    <script type="text/javascript" src={Routes.static_path(@conn, "/assets/js/main.js") }></script>
   
	


</body>

</html>