<h1 class = "headings ml-6">Edit Code</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.code_path(@conn, :update, @code)) %>

<span><%= link "Back", to: Routes.code_path(@conn, :index) %></span>
