      <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800  p-4 shadow text-2xl text-white">

<h3 class = "headings ml-6 font-bold" style= "color:white;">Edit Facility</h3>
</div>
<%= render "form.html", Map.put(assigns, :action, Routes.facility_path(@conn, :update, @facility)) %>

